@page "/"
@using EarlyBid.Shared.Models
@using EarlyBid.Shared.ViewModels
@using Blazor.Extensions;
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject HubConnectionBuilder hubConnectionBuilder

<style>
    .auction-name {
        width: 250px;
    }
</style>

@if (auctions == null)
{
    <h2>Loading...</h2>
}
else
{
    <table class="ui celled editable table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in auctions)
            {
                <tr>
                    <td>@(auction.Created.ToShortDateString() + " (" + auction.Created.ToShortTimeString() + ")")</td>
                    <td>
                        <input class="auction-name" @bind="auction.Name" @oninput="@(async () => await SetStateAsync(auction))" />
                    </td>
                    <td class="collapsing">
                        <div class="ui checkbox">
                            <input type="checkbox" @bind="auction.IsActive" @onclick="@(async () => await ChangeAuctionAsync(auction.Id))" />
                            <label></label>
                        </div>
                    </td>
                    <td class="collapsing">
                        @if (auction.IsChanged)
                        {
                            <button class="ui fluid tertiary button" @onclick="@(async () => await UpdateAuctionAsync(auction))">
                                <i class="green checkmark icon"></i>
                            </button>
                        }
                        <button class="ui ui fluid tertiary button" @onclick="@(async () => await DeleteAuctionAsync(auction.Id))">
                            <i class="red trash alternate icon"></i>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    <div class="flex-row">
                        <div class="ui borderless input">
                            <input @bind="newDate" type="date" />
                        </div>
                        <button class="ui fluid tertiary button" @onclick="@(async () => await CreateAuction())">Add an auction</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}

<p>@binder</p>

@code {
    AuctionEdit[] auctions;
    DateTime newDate = DateTime.Now;
    HubConnection connection;
    string binder = "";

    protected override async Task OnInitializedAsync()
    {
        // in Component Initialization code
        connection = hubConnectionBuilder
        .WithUrl("/auctions", // The hub URL. If the Hub is hosted on the server where the blazor is hosted, you can just use the relative path.
        opt =>
        {
            opt.LogLevel = SignalRLogLevel.Trace; // Client log level
        }).Build(); // Build the HubConnection
        connection.On<string>("ReceivedBid", this.HandleResult);
        await connection.StartAsync(); // Start the connection.
        connection.InvokeAsync("ReceivedBid");

        await LoadListAsync();
    }

    protected async Task ChangeAuctionAsync(string id)
    {
        var auction = new AuctionEdit();
        await Http.PostJsonAsync("api/auctions/active/" + id, auction);
    }

    protected async Task CreateAuction()
    {
        var auction = new AuctionEdit()
        {
            Id = Guid.NewGuid().ToString(),
            Name = "Hoovers Auction " + DateTime.Now.ToShortDateString(),
            Created = newDate
        };

        await Http.PostJsonAsync("api/auctions", auction);
        await Http.PostJsonAsync("api/auctions/active/" + auction.Id, auction);

        await connection.InvokeAsync("ReceivedBid");
    }

    protected async Task DeleteAuctionAsync(string id)
    {
        await Http.DeleteAsync("api/auctions/" + id);
    }

    protected async Task UpdateAuctionAsync(AuctionEdit auction)
    {
        await Http.PutJsonAsync("api/auctions/" + auction.Id, auction);
    }

    protected async Task SetStateAsync(AuctionEdit auction) =>
        auction.IsChanged = true;

    public async Task LoadListAsync()
    {
        auctions = await Http.GetJsonAsync<AuctionEdit[]>("api/auctions");
        binder = "loaded list";
    }

    public async Task HandleResult(string args)
    {
        await LoadListAsync();
    }
}
